/* ------------------------------------------------
---------------- Über uns Seite -------------------
------------------------------------------------ */

/* main content frame of the page */
.main-page-body {
    align-items: center;
    justify-content: center;
    height: var(--page-content-height);
    background-color: var(--secondary-color-darker);
}

/* container with the about us text */
.main-page-body .about-us-container {
    width: 45%;
    min-width: 700px;
    padding: 40px;
    box-shadow: var(--container-box-shadow);
}

/* header */
.main-page-body .about-us-container .about-us-header {
    align-self: center;
    margin-bottom: 20px;
}

/* text paragraphs */
.main-page-body .about-us-container .about-us-text {
    margin-bottom: 15px;
    font-size: 1.2em;
}
